body{
  height: 100%;
  background-color:black;
}
p{
  font-size:88px;
  color: black;
  text-align: center;
}
@media(max-width: 300px){
  body{background-color: green;
  
   }
}

@media(min-width:300px) and (max-width:400px){
  body{background-color: pink;
  p::after{
    content: "This is Android veiw";}
    
  }
}


@media(min-width:400px) and(max-width:600px){
  body{background-color:red;}
}
@media(min-width:601px){
  body{
    background-color:blue;}
    p::after{
    content: "This is desktop veiw";}
}
